#addform .text-error {
    color: red;
}
form.delete_currency {
    display: inline-block;
}
h2.content-title {
    padding-top: 40px;
    padding-bottom: 40px;
}
.nav-link {
    display: inline-block;
}
.actions, .currency_info {
    padding-bottom: 30px;
}
.back-to-list {
    padding-top: 30px;
}